<!DOCTYPE html>
<html lang="en">
  <head></head>
  <body style="font-size:20px; padding:50px;">
    <a href="/login/facebook">Log In with Facebook</a>
    <h1>
      <form action="/login" method="POST" style="margin:150px;">
        <%if(error){%>
          <p><%= error %> </p>
        <%}%>
          <lable for="username">Username:</lable>
          <input id="username" type="text" name="username" placeholder="username" style="width: 100px">
          <lable for="password">Password:</lable>
          <input id="password" type="password" name="password" style="width: 100px">
          <input type="submit" value="sign in">
      </form>
    </h1>
  </body>
</html>