<!DOCTYPE html>
<html lang="en">
 <head>
   <link rel="stylesheet" href="/css/bootstrap.min.css">
   <link rel="stylesheet" href="/styles/register.css" type="text/css"/>
 </head>
 <body class= "regbody" style="font-size:20px; padding:50px;">
   <form action="/register" method="POST" >
     <%if(error){%>
       <p class= "err"><%- error %></p>
     <%}%>
     <div class= "container reg">
       <div class= "row">
         <div class= "col-sm-12">
           <input id="email" type="text" name="email" placeholder="email">
         </div>
       </div>
       <div class= "row">
         <div class= "col-sm-12">
           <input id="username" type="text" name="username"  placeholder="username">
         </div>
       </div>
       <div class= "row">
       <div class= "col-sm-12">
           <input id="password" type="password" name="password"  placeholder="password">
         </div>
       </div>
       <div class= "row">
      <div class= "col-sm-12">
        <input id="phone" type="test" name="phone"  placeholder="phone number">
      </div>
       </div>
      <div class= "row">
         <div class= "btn regsubmit">
           <input type="submit" value="sign up">
         </div>
       </div>
     </div>
   </form>
 </body>
</html>
