#order-head, .place-order{
  background-color: rgba(255, 136, 0, 0.49);
  padding: 8px;
  margin-top: 15px;
  font-size:1.5em;
}

.cart{
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  overflow-y: scroll;
  padding-top: 60px;
}

img .cart-pic{
  height: auto;
  width: 60%;
}

@media only screen and (max-width: 767px){
  .cart{
    display: none;
  }
}